.wrapper{
    position: relative;
}
section{
    background: $color-brown;
}

.hero{
    position: relative;
    height: rem(590px);
    margin: 10px 10px 0 10px;
    overflow: hidden;
    @include breakpoint-desktop-small{
        height: calc(100vh - 20px);
    }
    .shape-bottom{
        position: absolute;
        z-index: 1;
        bottom: -1px;
        right: 25px;
        width: 30vw;
        max-width: 414px;
        @include breakpoint-tablet {
            right: 40px;
        }
    }
    .hero-image{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(211deg, rgba(255,255,255,0) 75%, rgba(0,0,0,1) 100%);
        }
    }
    .wrapper{
        z-index: 2;
        height: 100%;
        display: flex;
        .hero-content{
            margin-top: auto;
            max-width: 33ch;
            margin-bottom: 30px;
            @include breakpoint-tablet {
                max-width: 56ch;
                margin-bottom: 90px;
            }
            h1{
                color: $color-brown;
            }
            .btn{
                background-color: #BA5D01;
                font-size: 16px;
                @include breakpoint-tablet {
                    font-size: 20px;
                    background-color: transparent;
                    padding: 0 20px 0 0;
                }
                position: relative;
                .arrow-right{
                    position: relative;
                    top: 1px;
                    width: 35px;
                    right: 0;
                    margin-left: 18px;
                    transition: all 0.4s ease-in-out;
                    @include breakpoint-tablet {
                        top: 4px;
                        width: 46px;
                    }
                }
                &:hover{
                    .arrow-right{
                        right: -20px;
                    }
                }
            }
        }
    }
}

.gallery{
    margin-bottom: 145px;
    @include breakpoint-desktop-small {
        margin-bottom: 245px;
    }
    .gallery-content{
        width: 100%;
        @include breakpoint-tablet {
            margin: 0 auto;
            max-width: rem(850px);
        }
        @include breakpoint-desktop-medium {
            max-width: rem(1250px);
        }
        display: grid;
        @include grid-layout(12);
        gap: 40px 10px;
        @include breakpoint-desktop-small {
            @include grid-layout(18);
            gap: 10px 10px;
        }
    }
   
    .galery-title{
        @include grid-column-span(12);
        @include grid-column-start(2);
        @include breakpoint-desktop-small {
            @include grid-column-span(5);
            @include grid-column-start(1);
        }
        align-self: end;
        max-width: 36ch;
        h1{
            font-size: 46px;
            line-height: 46px;
            @include breakpoint-tablet {
                font-size: 60px;
                line-height: 60px;
            }
            margin-bottom: 0;
            @include breakpoint-desktop-small {
                margin-bottom: 130px;
            }
        }
    }
    .gallery-image-big{
        @include grid-column-span(9);
        @include grid-column-start(3);
        @include breakpoint-desktop-small {
            @include grid-column-span(7);
            @include grid-column-start(6);
        }
        @include breakpoint-desktop-medium {
            @include grid-column-span(8);
            @include grid-column-start(6);
        }
        position: relative;
        max-height: 732px;
        min-height: 440px;
        @include breakpoint-desktop-small {
            margin-left: 0;
            aspect-ratio: 1 / 1.35;
        }
        .shape-top{
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 2;
            width: 96px;
            @include breakpoint-tablet {
                left: 20px;
                width: 167px;
            }
        }
        .shape-bottom{
            position: absolute;
            bottom: -1px;
            right: 15px;
            z-index: 2;
            width: 96px;
            @include breakpoint-tablet {
                right: 20px;
                width: 167px;
            }
        }
    }

    .gallery-text-image{
        @include grid-column-span(9);
        @include grid-column-start(3);
        @include breakpoint-desktop-small {
            @include grid-column-span(5);
            @include grid-column-start(14);
            margin-bottom: -150px;
        }
        @include breakpoint-desktop-medium {
            @include grid-column-span(4);
            @include grid-column-start(15);
            align-self: end;
        }
        .gallery-text{
            max-width: 28ch;
            p{
                margin-bottom: 13px;
            }
            .btn{
                color: #000;
            }
            @include breakpoint-desktop-small {
                margin-bottom: 65px;
            }
        }
        .gallery-image-small{
            height: 193px;
            display: none;
            @include breakpoint-desktop-small{
                display: block;
            }
            .shape-top{
                position: absolute;
                top: 0;
                left: 15px;
                z-index: 2;
                width: 96px;
                @include breakpoint-tablet {
                    left: 20px;
                    width: 118px;
                }
            }
            .shape-bottom{
                position: absolute;
                bottom: -1px;
                right: 15px;
                z-index: 2;
                width: 96px;
                @include breakpoint-tablet {
                    right: 20px;
                    width: 118px;
                }
            }
        }
    }
}

.header-image{
    position: relative;
    width: 100%;
    height: rem(300px);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-desktop-small{
        height: rem(430px);
    }
}

.header-image-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overview{
    position: relative;
    background-color: $color-black;
    .overview-title{
        h1{
            color: $color-brown;
            font-size: 100px;
            line-height: 50px;
            text-align: center;
        }
    }
    .shape-top{
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 2;
        width: 140px;
        @include breakpoint-tablet {
            left: 138px;
            width: 262px;
        }
    }
    .shape-bottom{
        position: absolute;
        bottom: -1px;
        right: 20px;
        z-index: 2;
        width: 140px;
        @include breakpoint-tablet {
            right: 138px;
            width: 262px;
        }
    }
}
.overview-items{
    @include grid-layout(12);
    @include breakpoint-desktop-small{
        @include grid-layout(20);
    }
}

.overview-item{
    position: relative;
    display: block;
    text-decoration: none;
    min-height: rem(482px);
    padding: rem(20px) rem(30px);
    display: flex;
    align-items: flex-end;
    background: $color-black;
    overflow: hidden;
    @include grid-column-span(5);
    @include grid-column-start(5);
    @include breakpoint-tablet {
        
        &:first-child{
            @include grid-column-start(3);
        }
        &:nth-child(3n + 2){
            @include grid-column-start(9);
        }
        &:nth-child(3n + 3){
            @include grid-column-start(15)
        }
    }
    &:hover{
        .overview-item-image{
            transform: scale(1.05);
        }
    }

    .btn{
        font-size: 16px;
        font-size: 20px;
        background-color: transparent;
        padding: 0 20px 0 0;

        position: relative;
        .arrow-right{
            position: relative;
            top: 1px;
            width: 35px;
            right: 0;
            margin-left: 18px;
            transition: all 0.4s ease-in-out;
            @include breakpoint-tablet {
                top: 4px;
                width: 46px;
            }
        }
        &:hover{
            .arrow-right{
                right: -20px;
            }
        }
    }
}

.overview-item-image{
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overview-item-text{
    position: relative;
    h3, p{
        color: $color-white;
    }
    h3{
        font-size: rem(24px);
        line-height: rem(26px);
        margin-bottom: rem(30px);
    }
    .btn{
        display: inline-block;
        background: $color-white;
        color: $color-black;
        padding: rem(10px) rem(18px);
        line-height: 1;
        text-transform: uppercase;
        &:hover{
            color: $color-white;
        }
    }
}

.projects{
    .project-item{
        overflow: hidden;
        position: relative;
        margin: 10px 0 10px 10px;
        height: 611px;
        @include breakpoint-tablet {
            height: 820px;
            margin: 10px;
        }
        .project-item-image{
            position: absolute;
            height: 100%;
        }
        
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(185deg, rgba(255,255,255,0) 26%, rgba(0,0,0,1) 91%);
        }
        .shape-top{
            position: absolute;
            top: 0;
            left: 20px;
            z-index: 2;
            width: 140px;
            @include breakpoint-tablet {
                left: 138px;
                width: 262px;
            }
        }
        .shape-bottom{
            position: absolute;
            bottom: -1px;
            right: 20px;
            z-index: 2;
            width: 140px;
            @include breakpoint-tablet {
                right: 138px;
                width: 262px;
            }
        }
        .wrapper{
            display: flex;
            height: 100%;
            .project-item-content{
                z-index: 1;
                h1{
                    color: $color-brown;
                    font-size: 45px;
                    line-height: 1;
                    margin-bottom: 30px;
                    @include breakpoint-tablet {
                        font-size: 70px;
                        line-height: 80px;
                    }
                }
                margin-top: auto;
                margin-bottom: 38px;
                @include breakpoint-tablet {
                    margin-bottom: 80px;
                }
            }
        }
    }
}

.text-image{
    .wrapper{
        @include grid-layout(10);
        @include breakpoint-tablet {
            @include grid-layout(16);
        }
        .text{
            @include grid-column-span(9);

            @include breakpoint-tablet {
                @include grid-column-span(10);
                @include grid-column-start(1);
            }
            @include breakpoint-desktop-small {
                @include grid-column-span(8);
                @include grid-column-start(3);
            }
            h1{
                font-size: 46px;
                line-height: 1;
                @include breakpoint-tablet {
                    font-size: 50px;
                }
                @include breakpoint-desktop-small {
                    line-height: 80px;
                    font-size: 70px;
                }
            }
        }
        .image{
            @include grid-column-span(9);
            @include grid-column-start(2);
            height: 204px;
            @include breakpoint-tablet {
                width: 310px;
                margin-top: 130px;
                @include grid-column-span(4);
                @include grid-column-start(11);
                margin-left: 26px;
            }
            .shape-top{
                position: absolute;
                top: 0;
                left: 15px;
                z-index: 2;
                width: 96px;
                @include breakpoint-tablet {
                    left: 20px;
                    width: 118px;
                }
            }
            .shape-bottom{
                position: absolute;
                bottom: -1px;
                right: 15px;
                z-index: 2;
                width: 96px;
                @include breakpoint-tablet {
                    right: 20px;
                    width: 118px;
                }
            }
        }
    }
}