.galery{
    .wrapper{
        row-gap: 40px;
        @include breakpoint-tablet {
            row-gap: 80px;
        }
        .galery-image-big{
            position: relative;
            @include grid-column-start(2);
            @include grid-column-span(10);
            @include grid-row-start(1);
            @include grid-row-span(2);
            height: 350px;
            &:nth-child(2n + 2){
                @include grid-row-start(9);
                @include grid-column-start(2);
            }
            @include breakpoint-tablet {
                height: 530px;
                @include grid-column-span(8);
                &:nth-child(2n + 2){
                    @include grid-row-start(4);
                    @include grid-column-start(11);
                }
            }
            @include breakpoint-desktop-small {
                height: 730px;
            }
           
        }
        .zoom-icon{
            cursor: pointer;
            position: absolute;
            bottom: 0px;
            right: 30px;
            width: 25px;
            z-index: 2;
            @include breakpoint-tablet {
                bottom: 10px;
                right: 60px;
                width: 30px;
                
            }
        }
        .shape-top{
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 2;
            width: 96px;
            @include breakpoint-tablet {
                left: 20px;
                width: 167px;
            }
        }
        .shape-bottom{
            position: absolute;
            bottom: -1px;
            right: 15px;
            z-index: 2;
            width: 96px;
            @include breakpoint-tablet {
                right: 20px;
                width: 167px;
            }
        }
        .galery-image-medium{
            @include grid-column-start(2);
            @include grid-column-span(10);
            height: 350px;
            
            @include grid-row-span(1);
            @include breakpoint-tablet {
                @include grid-column-start(11);
                @include grid-column-span(9);
                @include grid-row-start(1);
                
                & ~ .galery-image-medium {
                    @include grid-column-start(1);
                    @include grid-row-start(3);
                }
                
                & ~ .galery-image-medium ~ .galery-image-medium{
                    @include grid-column-start(11);
                    @include grid-row-start(3);
                }
            }
            @include breakpoint-desktop-small {
                height: 445px;
            }
        }
        .galery-text{
            @include grid-column-start(2);
            @include grid-column-span(10);
            @include breakpoint-tablet {
                @include grid-row-start(2);
                @include grid-column-start(13);
                @include grid-column-span(8);
            }
            h3{
                font-size: 24px;
                margin-bottom: 25px;
                @include breakpoint-tablet {
                    font-size: 29px;
                }
            }
            ul > li{
                position: relative;
                font-size: 16px;
                padding-left: 46px;
                @include breakpoint-tablet {
                    font-size: 20px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform:rotate(45deg);
                    width: 8px;
                    height: 1px;
                    border-radius: 20px;
                    background-color: #000;
                }
                &::after{
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 40%;
                    transform: rotate(-45deg);
                    width: 18px;
                    height: 1px;
                    border-radius: 20px;
                    background-color: #000;
                }
            }
        }
        .galery-title{
            display: grid;
            align-self: end;
            @include grid-column-start(2);
            @include grid-column-span(8);
            h2{
                margin-bottom: 0;
            }
            @include breakpoint-desktop-small {
                margin-bottom: -150px;
                @include grid-column-span(5);
                
            }
    
        }
        .galery-image-small{
            display: grid;
            align-self: end;
            @include grid-column-start(2);
            @include grid-column-span(10);
            height: 193px;
            @include breakpoint-tablet {
                @include grid-column-span(8);
            }
            @include breakpoint-desktop-medium {
                @include grid-column-span(4);
            }
        }
    }
}