header{
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: rem(40px) 43px;
    height: rem(60px);

    @include breakpoint-desktop-small{
        height: rem(110px);
    }
    
    .wrapper{
        @include breakpoint-desktop-small{
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
    }
    
    
    &.fixed{
        background: $color-brown;
        padding-bottom: rem(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        ul > li{
            &.current-menu-item{
                &::before{
                    background: #000;
                    //  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
                }
            }
            a{
                 color: #000;
                 &::after{
                    background: $color-black;
                }
             }
        }
        .shape-top{
            // filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
        }
    }

    .shape-top{
        position: absolute;
        // z-index: 1;
        top: 10px;
        left: 25px;
        width: 30vw;
        min-width: 282px;
        @include breakpoint-tablet {
            max-width: 414px;
            left: 40px;
        }
    }
}

.header-logo{
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
    display: block;
    width: rem(50px);
    left: 50px;
    
    @include breakpoint-desktop-small{
        left: 80px;
    }
    @include breakpoint-desktop-medium {
        left: 110px;
        width: rem(100px);
    }
    .fixed & {
        @include breakpoint-desktop-medium{
            width: rem(50px);
        }
    }
}