header{
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: rem(40px) 43px;
    height: rem(60px);

    @include breakpoint-desktop-small{
        height: rem(110px);
    }
    
    .wrapper{
        @include breakpoint-desktop-small{
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
    }
    &::before{
        transition: all 0.4s ease-in-out;
        content: '';
        position: absolute;
        top: -37vw;
        left: -20px;
        background-color: #fbf8ee;
        width: 200%;
        height: 200px;
        transform: rotate(-21deg);
        transform-origin: 50% 50%;
        // transition-delay: 0.3s;
    }

    &.fixed{
        padding-bottom: rem(10px);
        ul > li{
            &.current-menu-item{
                &::before{
                    background: #000;
                    //  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
                }
            }
            a{
                 color: #000;
                 &::after{
                    background: $color-black;
                }
             }
        }
        &::before{
            
            top: -5vw;
            left: -100%;
            transform: rotate(0deg);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }

}

.header-logo{
    transition: all 0.4s ease-in-out;
    position: relative;
    top: 0;
    display: block;
    width: rem(50px);
    left: 50px;
    
    @include breakpoint-desktop-small{
        left: 80px;
    }
    @include breakpoint-desktop-medium {
        left: 110px;
        width: rem(80px);
    }
    .fixed & {
        transition-delay: 0.6s;
        @include breakpoint-desktop-medium{
            width: rem(100px);
        }
        svg{
            #Group_34{
                #letters{
                    display: none;
                }
            }
        }
    }
  
}