h1, h2, h3, h4{
    font-family: $font-family-default;
    line-height: 1;
    font-weight: 400;
    color: $color-black;
}

h2, h3, h4{
    margin-bottom: rem(10px);
}

h1{
    font-size: clamp(2.25rem, 1.5781rem + 2.5vw, 3.75rem);
    line-height: 36px;
    margin-bottom: rem(20px);
    @include breakpoint-tablet {
        line-height: rem(60px);
        margin-bottom: rem(36px);
    }
}

h2{
    font-size: rem(36px);
    margin-bottom: rem(30px);
    @include breakpoint-tablet {
        font-size: rem(60px);
        line-height: 60px;
        margin-bottom: 50px;
    }
}

h3{
    font-size: rem(26px); 
}

h4{
    font-size: rem(22px);
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.text-container {
    @include breakpoint-tablet {
        @include grid-layout(16);
        gap: 0 10px;
    }
    h1,h2, h3, h4, h5, h6{
        @include grid-column-span(11);
    }
    p, ul, ol,
    blockquote,
    .embed-container,
    .wp-caption {
        line-height: rem(24px);
        margin-bottom: rem(25px);
        max-width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint-tablet {
            @include grid-column-span(12);
        }
        @include breakpoint-desktop-medium {
            @include grid-column-span(9);
        }
    }

    ul, ol {
        position: relative;
        list-style: none;

        li:not(.gfield) {
            padding-left: 1.25em;

            &::before {
                position: absolute;
                text-indent: -1.25em;
            }
        }
    }

    ul {
        li:not(.gfield) {
            &::before {
                content: '•';
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            counter-increment: ol-counter;

            &::before {
                content: counter(ol-counter) '.';
            }
        }
    }
    .button-container{
        @include breakpoint-tablet {
            @include grid-column-span(4);
            @include grid-column-start(1);
            align-self: end;
        }
        a{
            color: $color-black;
        }
    }

    blockquote {
        padding-left: 1em;
        font-size: 1.4em;
        line-height: 1.2;
        border-left: .1rem solid currentColor;
    }
    p:has(img){
        position: relative;
        @include breakpoint-tablet {
            @include grid-column-start(3);
            @include grid-column-span(13);
        }
        @include breakpoint-desktop-small {
            @include grid-column-start(4);
        }
        margin: 0;
        &::before{
            content: "";
            position: absolute;
            pointer-events: none;
            z-index: 2;
            top: 0;
            left: 30px;
            width: 167px;
            background-image: url(/images/shape.svg);
            background-size: 100% 100%;
            background-position: center center;
            aspect-ratio: 1 / 0.9;
        }
        &::after{
            content: "";
            position: absolute;
            pointer-events: none;
            z-index: 2;
            bottom: 27px;
            right: 30px;
            width: 167px;
            background-image: url(/images/shape-bottom.svg);
            background-size: 100% 100%;
            background-position: center center;
            aspect-ratio: 1 / 0.9;
        }
        >img{
            position: relative;
            margin: 30px 0;
            width: 100%;
            object-fit: cover;
            height: 350px;
            margin: 40px 0 60px 0;
            @include breakpoint-tablet {
                height: 500px;
            }
            @include breakpoint-desktop-small {
                height: 558px;
            }
        }
    }
}