$html-font-size: 16px;

@font-face {
    font-family: 'bold';
    src: url(/fonts/TTChocolatesTrialBold.ttf);
}
@font-face {
    font-family: 'light';
    src: url(/fonts/TTChocolatesTrialLight.ttf);
}


// Colors
$color-black: #000;
$color-white: #fff;
$color-brown: #FBF8EE;


// Fonts
$font-family-title: bold, sans-serif;
$font-family-default: light, sans-serif;